<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
	<dict>
		<key>assets</key>
		<array>
			<dict>
				<key>kind</key>
				<string>software-package</string>
				<key>url</key>
				<string>http://wallet-dev.suhuan88.com/yzb_ios_1.1.0.ipa</string>//上传上去ipa的外链
			</dict>
			<dict>
				<key>kind</key>
				<string>display-image</string>
				<key>url</key>
				<string>http://wallet-dev.suhuan88.com/AppIcon57.png</string>//上传上去的`57*57`icon的外链
			</dict>
			<dict>
				<key>kind</key>
				<string>full-size-image</string>
				<key>url</key>
				<string>http://wallet-dev.suhuan88.com/AppIcon512.png</string>//上传上去的`512*512`icon的外链
			</dict>
		</array>
		<key>metadata</key>
		<dict>
			<key>bundle-identifier</key>
			<string>com.jp.wzqb</string>//
			<key>bundle-version</key>
			<string>1.1.0</string>//版本号
			<key>kind</key>
			<string>software</string>
			<key>title</key>
			<string>王者钱包</string>//app名字
			<key>subtitle</key>
			<string>test subtitle</string>//随便
		</dict>
	</dict>
</array>
</dict>
</plist>
